.logo {
    height: 4rem;
    width: 4rem;
    clip-path: polygon(50% 0%,
            54% 38%,
            79% 49%,
            61% 61%,
            80% 90%,
            39% 69%,
            20% 90%,
            19% 67%,
            6% 5%,
            29% 48%);
    background-color: white;

    flex-shrink: 0;
}
.title {
    color: white;

    // transform: translateY(5vh);
    letter-spacing: 1.5rem;
    font-size: 3rem;
}

// .title_media {
//     display: none;
//     color: white;
// }

.title:hover {
    cursor: default;
}