.info{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem;
}
.full_info{
    display: flex;
    justify-content: space-evenly;
}
.general{
    
    // background-color: aquamarine;
}