.info{
    color: white;
    display: flex;
    justify-content: flex-start;
}
.full_info{
    display: flex;
    justify-content: space-around;
}
.general{
    
    // background-color: aquamarine;
}