.info{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem;
}
.full_info{
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}
.general{
    margin: 0 1rem ;
    // background-color: aquamarine;
}
.h1{
    color: white;
}